@use 'theme-variables';

@import 'tailwinds.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;

  tab-size: 4;
  word-wrap: break-word;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.025em;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: 'kern';

  color: var(--c-color);
}

html {
  overflow: auto;
  overflow: overlay;
}

body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ::-webkit-scrollbar {
  width: 10px;
  height: 10px;

  &-track {
    border: 4px solid transparent;
  }
  &-corner {
    background: transparent;
  }
  &-thumb {
    box-shadow: inset 0 0 10px 10px rgba(106, 104, 110, 0.5);
    border: 4px solid transparent;
    border-radius: 99px;
  }
} */

#root {
  @apply text-base relative box-border w-full h-auto min-h-screen;
}
