.container {
  @apply relative h-full px-2 ml-auto overflow-x-hidden shrink-0 bg-base;

  @screen sm-max {
    @apply p-0 max-w-[68px];
  }

  // invisible scrollbar
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

.wrapper {
  @apply relative flex flex-col justify-between h-full;
}

.nav {
  @apply flex flex-col gap-1 xl-max:items-center;

  &-logo {
    @apply wh-[50px] py-2 my-1 rounded-full hover:bg-base-focus;

    &-img {
      @apply flex items-center justify-center wh-full;

      > img {
        @apply wh-[34px];
      }
    }
  }

  &-main {
    @apply flex flex-col gap-[10px] xl-max:items-center;
  }
}

.user {
  @apply w-full;
}
