@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Inconsolata&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;

  color: rgb(var(--c-ntrl-1ary));
  background-color: rgb(var(--c-base));

  tab-size: 4;
  word-wrap: break-word;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: 'kern';
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --c-base: 15, 15, 15;
    --c-accent: 26, 203, 226;
    --c-ntrl-1ary: 228, 227, 227;
    --c-ntrl-2ary: 18, 18, 18;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    --c-base: 255, 255, 255;
    --c-accent: 46, 173, 190;
    --c-ntrl-1ary: 18, 18, 18;
    --c-ntrl-2ary: 228, 227, 227;
  }
}

html {
  overflow: auto;
  overflow: overlay;
}

body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border: 4px solid transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgba(106, 104, 110, 0.5);
  border: 4px solid transparent;
  border-radius: 99px;
}

#root {
  @apply text-base relative box-border w-full h-auto min-h-screen;
}
